@(message: String)

@main("json+patch demo application") {
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      textarea {
        resize: none;
      }
    </style>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">json+patch for Play!</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" ng-controller="ExampleListCtrl">
      <div class="row">
        <h3>Demo</h3>
      </div>

      <div class="row">
        <select class="span3" id="exampleselect" ng-model="example" ng-options="e.desc for e in examples">
        </select>
      </div>

      <div class="row">
        <h4 class="span6">Input JSON:</h4>
        <h4 class="span6">Patch JSON:</h4>
      </div>

      <div class="row">       
          <textarea class="span6" renderjson rows="10" ng-model="example.target"></textarea>
          <textarea class="span6" renderjson rows="10" ng-model="example.patch"></textarea>
      </div>


      <div class="row">
        <button class="btn btn-primary" ng-click="submitExample(example)">Try it!</button>
      </div>
      <div class="row">
        <h4 class="span6">Result:</h4>
      </div>
      <div class="row">
        <textarea rows="10" class="span6" renderjson readonly ng-model="result"></textarea>
      </div>
    </div>
    
}
